body {
font-family: Arial;
background: rgba(0,0,0,0.9);
color: rgba(255,255,255,0.7);
}

header {
  text-align: center;
}

h1 {
  font-style: oblique;
  font-family: Impact, fantasy;
  font-size: 3em;
  text-align: center;
  color: yellow;
}

ul {
  list-style: none;
}

h2 {
  font-family: Impact, fantasy;
  letter-spacing: 3px;
  /*color: yellow;*/
  font-size: 2em;
}

h3 {
  font-style: oblique;
  font-family: Helvetica;
}

article {
  background: rgba(255,255,255,0.2);
  border-radius: 10px;
  padding: 0px 10px;
  margin: 5px;
}

a {
  /* unvisited link */
  color: yellow;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgb(252, 134, 225);
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: yellow;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: rgba(255,255,255,1);
  text-decoration: none;
}

button {
  background: rgba(0,0,160,1);
  margin: 5px;
  border: 0;
}
